
html, body {
    margin: 0;
    font-weight: 20px;
    background-color: black;
    color: white;
}

*{
    box-sizing: border-box;
}

header {
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("images/1_5lyavS59mazOFnb55Z6znQ.png") ;
    height: 100vh;
}

header > div > img {
    width: 15%;
    margin: 10px 0 0  10%;
}

header > div > button {
    background-color: red;
    color: white;
    float: right;
    padding: 10px;
    border-radius: 8px;
    width: 5%;
    margin: 2% 8% 0 0 ;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 1px 2px black ; */
}

header > div > button:hover {
    background-color: rgb(150, 7, 7);
    transition: all 0.5s ease-in-out;
}

.header {
    text-align: center;
    font-size: 25px;
    margin: 5%;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */
}


form > input[type="email"] {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    height: 4rem;
    width: 28%;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    box-shadow: none;

}

 form > input[type="email"]:focus {
    transform: translate(-2%, -5%);
    transition: 1s;
  }
  
form > button[type="submit"]{
    background-color: red;
    height: 4rem;
    border-radius: 5px;
    width: 15%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

form > button[type="submit"]:hover{
    background-color: rgb(150, 7, 7);
    transition: all 0.5s ease-in-out;
}

  

